.chat-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  margin-left: 1090px;
  margin-top: 38px;
  width: 400px;
  height: 580px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  max-height: 50px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-weight: bold;
}

.chat-sub-header {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  max-height: 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-message {
  max-width: 70%;
  padding: 5px;
  border-radius: 10px;
  word-wrap: break-word;
}

.chat-message.sender {
  align-self: flex-end;
  background-color: #D4AF37;
  color: #000;
  max-width: 250px;
  padding: 0px 8px 0px 8px;
  max-height: auto;
  font-size: 15px;
}

.chat-message.receiver {
  align-self: flex-start;
  background-color: #F2D26C;
  color: #000;
  max-width: 250px;
  padding: 0px 8px 0px 8px;
  max-height: auto;
  font-size: 15px;
}

.chat-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
}

.chat-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.chat-user-icon {
  width: 40px;
  height: 40px;
  background-color: #F2D26C;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
}

.chat-user-name {
  margin-right: 170px;
  margin-top: 15px;
  max-width: 5px;
  font-size: 16px;
}

.chat-seller-button,.send-button {
  background-color: #D4AF37;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px;
  height: 4vh;
  width: 50px;
  cursor: pointer;
  font-size: 14px;
}

.chat-call-icon {
  font-size: 22px;
  margin-right: 10px;
  color: #D4AF37;
}

.chat-close-icon {
  margin-right: 10px;
  padding: 5px;
  width: 15px;
  height: 15px;
  background-color: #90856e;
  color: white;
  border-radius: 50%;
}

.chat-building-icon {
  color: #F2D26C;
  font-size: 20px;
}

.chat-bank-icon {
  margin-left: 45px;
  color: #F2D26C;
  font-size: 20px;
}

.chat-eye-icon {
  margin-left: 150px;
  font-size: 25px;
  color: #F2D26C;
}

.chat-view-text {
  color: #D4AF37;

}
.chat-propertytitle{
  width: 100px;
}