.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 500px;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
 
}
.card button{
    margin: 15px;
    width: 100px;
    height: 30px;
}
.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h5 {
    margin: 0 0 5px 0;
    color: #555;
}

.card h4{
    color: black !important;
}

.card p {
    margin: 0;
    color: black;
    font-size: 14px;
}
.send-message-btn{
    background-color: #D4AF37;
    display: block;
    width: 90px !important;
    color: #fff;
    height: 38px !important;
    border: none;
    font-size: 15px;
    border-radius: 8px;
}
.card-header-one{
    background-color: #D4AF37 ;
    padding: 15px;
    height: auto;
}
.card-header-one h4{
    margin: 0 0 5px 0;
    color: #555;
}
.card-header-two{
    display: flex;
    padding: 15px;
    padding-top: 30px;
    height: auto;
    justify-content: space-between;
}
.rupee-icon{
    padding: 5px;
    width: 20px;
    height: 20px;
    background-color: #F2D26C !important;
    border-radius: 50%;
}
.card-body{
    display: flex;
    margin: 5px;
}
.card-body img{
    width: 180px;
    height: 180px;
}
.chat-msg-icon{
    font-size: 24px;
}
.chat-message-btn{
    background-color: #D4AF37 !important;
    display: block;
    width: 90px !important;
    color: #fff;
    height: 38px !important;
    border: none;
    font-size: 15px;
    border-radius: 8px;
}

.property-box{
    border: 0.5px ridge gray;
    width: 260px;
    height: 130px;
    margin-left: 12px;
    padding: 3px;
}
.property-sub-box1{
    display: flex;
}
.compass, .building, .bathroom,.parking{
    margin-top: 20px;
}

.icon-paragraph{
    display: flex;
    padding: 3px;
}
.compass-paragraph, .building-paragraph, .bathroom-paragraph, .parking-paragraph{
    margin: 7px;
}

.compass-paragraph h6 p, .building-paragraph h6 p, .bathroom-paragraph h6 p , .parking-paragraph h6 p{
    width: 100px;
}
.property-sub-box2{
    display: flex;
}
/* .heart{
    border: 1px solid gray;
    width: 50px;
    height: 25px;
    border-radius: 4px;
    padding: 5px;
    font-size: 10px;
    margin: 15px 0px 0px 15px;
} */

@media (max-width: 1280px) {
    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 500px;
        padding: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out;
      
    }
}

@media (max-width: 1074px) {
    .card {
        width: 90%;
        margin: 30px -40px 30px 40px;
    }

    .card-header-two {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-body {
        flex-direction: column;
        align-items: center;
    }

    .card-body img {
        width: 100%;
        height: 180px;
        margin-bottom: 20px;
    }

    .property-box{
        border: 0.5px ridge gray;
        width: 390px;
        height: 130px;
        padding: 5px;
        align-items: start;
        justify-content: start;
        padding-left: 75px;
        margin-right: 10px;
    }
}

@media (max-width: 992px) {
    .card {
        width: 90%;
        max-width: 500px;
        margin: 30px -40px 30px 30px;
    }

    .card-header-two {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-body {
        flex-direction: column;
        align-items: center;
    }

    .card-body img {
        width: 100%;
        height: 180px;
    }

    .property-box{
        border: 0.5px ridge gray;
        width: 390px;
        height: 130px;
        padding: 5px;
        padding-left: 75px;
        margin-right: 10px;
    }
}
@media (max-width: 662px)  {
    .card {
        width: 90%;
        max-width: 500px;
        margin-left: 50px;
    }

    .card-header-two {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-body {
        flex-direction: column;
        align-items: center;
    }

    .card-body img {
        width: 600px;
        height: 180;
    }

    .property-box{
        border: 0.5px ridge gray;
        width: 380px;
        height: 130px;
        padding: 5px;
        padding-left: 75px;
        margin-right: 10px;
    }
}
@media (max-width: 962px)  {
    .card {
        width: 90%;
        max-width: 500px;
        margin-left: 50px;
    }

    .card-header-two {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-body {
        flex-direction: column;
        align-items: center;
    }

    .card-body img {
        width: 100%;
        height: 180px;
    }

    .property-box{
        border: 0.5px ridge gray;
        width: 390px;
        height: 130px;
        padding: 5px;
        padding-left: 75px;
        margin-right: 10px;
    }
}
@media (max-width: 767px) {
    .card {
        width: 90%;
        max-width: 500px;
        margin: 30px -40px 30px 40px;
    }

    .card-header-two {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-body {
        flex-direction: column;
        align-items: center;
    }

    .card-body img{
        width: 100%;
        height: 180px;
    }

    .property-box{
        border: 0.5px ridge gray;
        width: 370px;
        height: 130px;
        padding: 5px;
        padding-left: 75px;
        margin-right: 10px;
    }
}
@media (max-width: 576px) {
    .card {
        width: 80%;
        padding: 10px;
    }

    .card-header-one, .card-header-two {
        text-align: center;
    }

    .card-body {
        flex-direction: column;
    }

    .card-body img{
        width: 100%;
        height: 150px;
    }

    .chat-message-btn, .send-message-btn {
        width: 100%;
        font-size: 13px;
    }

    .property-box{
        border: 0.5px ridge gray;
        width: 290px;
        height: 130px;
        padding: 5px;
        padding-left: 35px;
        margin-right: 10px;
    }
}
@media (max-width: 480px) {
    .card {
        width: 80%;
        padding: 10px;
    }

    .card-header-one, .card-header-two {
        text-align: center;
    }

    .card-body {
        flex-direction: column;
    }

    .card-body img {
        width: 100%;
        height: 150px;
    }

    .property-box{
        border: 0.5px ridge gray;
        width: 100%;
        height: 150px;
        padding: 3px;
        padding-left: 20px;
        margin-right: 20px;
    }

    .chat-message-btn, .send-message-btn {
        width: 100%;
        font-size: 13px;
    }

   
}
@media (max-width: 475px) {
    .card {
        width: 80%;
        padding: 10px;
    }

    .card-header-one, .card-header-two {
        text-align: center;
    }

    .card-body {
        flex-direction: column;
    }

    .card-body img {
        width: 100%;
        height: 150px;
    }

    .property-box{
        border: 0.5px ridge gray;
        width: 95%;
        height: 150px;
        padding: 3px;
        padding-left: 20px;
        margin-right: 40px;
    }

    .chat-message-btn, .send-message-btn {
        width: 100%;
        font-size: 13px;
    }

   
}

@media (max-width: 450px) {
    .card {
        width: 70%;
        padding: 10px;
    }

    .card-header-one, .card-header-two {
        text-align: center;
    }

    .card-body {
        flex-direction: column;
    }

    .card-body img {
        width: 100%;
        height: 150px;
    }

    .property-box{
        border: 0.5px ridge gray;
        width: 190px;
        height: 150px;
        padding: 3px;
        margin-right: 10px;
    }

    .chat-message-btn, .send-message-btn {
        width: 100%;
        font-size: 13px;
    }

   
}
@media (max-width: 400px) {
    .card {
        width: 80%;
        padding: 10px;
    }

    .card-header-one, .card-header-two {
        text-align: center;
    }

    .card-body {
        flex-direction: column;
    }

    .card-body img {
        width: 100%;
        height: 130px;
    }

    .property-box{
        border: 0.5px ridge gray;
        width: 180px;
        height: 150px;
        padding: 1px;
        margin-right: 10px;
    }

    .chat-message-btn, .send-message-btn {
        width: 100%;
        font-size: 13px;
    }

   
}
@media (max-width: 350px) {
    .card {
        width: 220px;
        padding: 10px;
        margin-left: -40px;
    }

    .card-header-one, .card-header-two {
        text-align: center;
    }

    .card-body {
        flex-direction: column;
    }

    .card-body img {
        width: 100%;
        height: 130px;
    }

    .property-box{
        border: 0.5px ridge gray;
        width: 190px;
        height: 150px;
        margin-right: 10px;
    }

    .chat-message-btn, .send-message-btn {
        width: 100%;
        font-size: 13px;
    }

   
}