.sidebar-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    height: 900px;
}


.sidebar-button {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    width: 250px;
    border: none;
    background-color: #f9f9f9;
}

.sidebar-button:hover{
    background-color: #F2D26C;
    color: #464646;
    cursor: pointer;
    width: 250px;
    border-radius: 5px;
}

.sidebar-button.active {
    background-color: #D4AF37;
    color: white;
    width: 250px;
    border-radius: 5px;
}
p {
    font-size: 14px;
    margin-left: 5px;
}